@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .available {
    @apply bg-[length:40%] bg-available bg-center bg-no-repeat;
  }

  .selected {
    @apply bg-[#7B61FF] !important;
  }

  .target {
    @apply bg-rose-200 rounded-2xl border-4 border-[#7B61FF];
  }

  .cheq-a {
    @apply bg-[#E8EDF9];
  }

  .cheq-b {
    @apply bg-[#B7C0D8];
  }
}
